---
Language: Cpp
BasedOnStyle: LLVM

ColumnLimit: 80
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

# OpenFOAM-style brace placement.
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

#   if (...), for (...), while (...), switch (...)
# but:
#   forAll(...), not forAll (...)
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: false
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false
  AfterIfMacros: false
  AfterOverloadedOperator: false
  AfterPlacementOperator: false

ForEachMacros:
  - forAll
  - forAllReverse
  - forAllIter
  - forAllConstIter
  - forAllIters
  - forAllConstIters

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes:
  Enabled: false
ReflowComments: Never
FixNamespaceComments: false

BreakBeforeBinaryOperators: NonAssignment
AlignOperands: AlignAfterOperator
...
