# Editor and misc backup files - anywhere
*~
.*~
.*.swp
*.bak
*.bak[0-9][0-9]
\#*\#
*.nfs*

# File-browser settings - anywhere
.directory

# CVS recovered versions - anywhere
.#*

# Objects and archives - anywhere
*.[oa]
*.la
*.so

# Derived files
lex.yy.c

# Corefiles
core

# Dependency files - anywhere
*.dep

# lnInclude (symlink) directories - anywhere
lnInclude

# Build directories - anywhere
linux*Clang*/
linux*Gcc*/
linux*Icc*/
solaris*Gcc*/
SunOS*Gcc*/
platforms/
gitInfo.H

# Source packages - anywhere
*.tar.bz2
*.tar.gz
*.tar
*.tgz
*.gtgz
