/* assets/css/custom.css */

/* Override the primary color with ORNL Green */
:root {
  --theme-primary: #008542; /* ORNL Green */
  --theme-primary-rgb: 0, 133, 66; /* RGB values of ORNL Green */
}

/* General link colors */
a, a:visited, a:hover, a:focus, a:active {
  color: var(--theme-primary) !important;
}

/* Navbar brand and links */
.navbar-brand, .navbar-nav .nav-link.active, .navbar-nav .nav-link:hover, .sidebar .sidebar-nav .nav-link.active, .sidebar .sidebar-nav .nav-link:hover {
  color: var(--theme-primary) !important;
}

/* Buttons */
.btn, .btn-primary, .btn-outline-primary {
  background-color: var(--theme-primary) !important;
  border-color: var(--theme-primary) !important;
  color: #fff !important; /* Ensure button text color is readable */
}

/* Sidebar active link */
.sidebar .sidebar-nav .nav-link.active {
  color: var(--theme-primary) !important;
}

/* Sidebar hover link */
.sidebar .sidebar-nav .nav-link:hover {
  color: var(--theme-primary) !important;
}

